In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [4]:
lw_df = pd.read_csv('C:\\Users\\matt9\\Desktop\\BrainStation\\CAPSTONE\\London Weather Data\\london_weather.csv')

In [5]:
lw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15341 entries, 0 to 15340
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   date              15341 non-null  int64
 1   cloud_cover       15322 non-null  float64
 2   sunshine          15341 non-null  float64
 3   global_radiation  15322 non-null  float64
 4   max_temp          15335 non-null  float64
 5   mean_temp         15305 non-null  float64
 6   min_temp          15339 non-null  float64
 7   precipitation     15335 non-null  float64
 8   pressure          15337 non-null  float64
 9   snow_depth        13900 non-null  float64
dtypes: float64(9), int64(1)
memory usage: 1.2 MB

In [6]:
lw_df.shape

(15341, 10)

#### Explore columns: cloud_cover, global_radiation, max_temp, mean_temp, min_temp, precipitation, pressure, snow_depth
* each have missing values
* do we want all of them as features?
* is it an acceptable amount to delete the row without dramatically affecting the model creating bias?

### What is our question?
* Define your target variable
* Is it numerical or categorical?
* Which features do you want? Find out their relationship to target variables and see if they're needed else drop
* Which models would work best, should we combine them to get the best of each
* Time it takes to train and run them

In [7]:
lw_df.head(10)

,date,cloud_cover,sunshine,global_radiation,max_temp,mean_temp,min_temp,precipitation,pressure,snow_depth
0,19790101,2.0,7.0,52.0,2.3,-4.1,-7.5,0.4,101900.0,9.0
1,19790102,6.0,1.7,27.0,1.6,-2.6,-7.5,0.0,102530.0,8.0
2,19790103,5.0,0.0,13.0,1.3,-2.8,-7.2,0.0,102050.0,4.0
3,19790104,8.0,0.0,13.0,-0.3,-2.6,-6.5,0.0,100840.0,2.0
4,19790105,6.0,2.0,29.0,5.6,-0.8,-1.4,0.0,102250.0,1.0
5,19790106,5.0,3.8,39.0,8.3,-0.5,-6.6,0.7,102780.0,1.0
6,19790107,8.0,0.0,13.0,8.5,1.5,-5.3,5.2,102520.0,0.0
7,19790108,8.0,0.1,15.0,5.8,6.9,5.3,0.8,101870.0,0.0
8,19790109,4.0,5.8,50.0,5.2,3.7,1.6,7.2,101170.0,0.0
9,19790110,7.0,1.9,30.0,4.9,3.3,1.4,2.1,98700.0,0.0

In [17]:
lw_df.isna().sum()

date                   0
cloud_cover           19
sunshine               0
global_radiation      19
max_temp               6
mean_temp             36
min_temp               2
precipitation          6
pressure               4
snow_depth          1441
dtype: int64

In [16]:
# Find rows with missing values
rows_with_missing_values = lw_df[lw_df.isnull().any(axis=1)]

# Display rows with missing values
print("Rows with missing values:")
print(rows_with_missing_values)

Rows with missing values:
           date  cloud_cover  sunshine  global_radiation  max_temp  mean_temp  \
14     19790115          NaN       0.0              15.0       5.9        3.8
20     19790121          NaN       0.0              16.0       1.5        0.0
37     19790207          NaN       0.0              21.0       3.7        3.3
50     19790220          NaN       0.0              27.0       3.6        1.6
56     19790226          NaN       4.2              82.0       8.9        1.6
...         ...          ...       ...               ...       ...        ...
15336  20201227          1.0       0.9              32.0       7.5        7.5
15337  20201228          7.0       3.7              38.0       3.6        1.1
15338  20201229          7.0       0.0              21.0       4.1        2.6
15339  20201230          6.0       0.4              22.0       5.6        2.7
15340  20201231          7.0       1.3              34.0       1.5       -0.8

       min_temp  precipitation  pressure  snow_depth
14          1.0            0.1  102990.0         0.0
20         -3.5            0.1  102170.0         0.0
37         -0.2            0.4   99450.0         0.0
50          0.3            0.0  103010.0         0.0
56         -3.4            0.0  103590.0         0.0
...         ...            ...       ...         ...
15336       7.6            2.0   98000.0         NaN
15337      -1.3            0.2   97370.0         NaN
15338       1.1            0.0   98830.0         NaN
15339      -0.1            0.0  100200.0         NaN
15340      -3.1            0.0  100500.0         NaN

[1498 rows x 10 columns]

Should explore into further exploration as to which features are required. Snow depth seems to have the most values missing. We could assume that it indicates no snow was there hence no record. Or to be safe we delete those rows.